
[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
Comment=
Exec=/usr/local/bin/sublime_text
Icon=/usr/local/Sublime Text 2/Icon/256x256/sublime_text.png
Path=
Terminal=false
StartupNotify=false
GenericName=
